<div class="container-municipios">
  <h2>Municípios</h2>
  <p>
    Tabela de códigos IBGE (Estados e Municípios)
    <a href="https://www.ibge.gov.br/explica/codigos-dos-municipios.php">Tabela</a>
  </p>

  <div class="filtro-container">
    <input
      type="text"
      placeholder="Filtrar por Código IBGE"
      [ngModel]="filtroCodigo()"
      (ngModelChange)="filtroCodigo.set($event)"
      (keyup.enter)="aplicarFiltro()"
    />

    <button (click)="aplicarFiltro()">Filtrar</button>

    <button (click)="filtroCodigo.set(''); aplicarFiltro()">Limpar</button>
  </div>

  <table *ngIf="municipios().length > 0">
    <thead>
      <tr>
        <th>Código IBGE do Município</th>
        <th>Ano/Mês</th>
        <th>Qtd de ações eixo 01</th>
        <th>Qtd de ações eixo 02</th>
        <th>Qtd de ações eixo 03</th>
        <th>Qtd de ações eixo 04</th>
        <th>Qtd de ações eixo 05</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let municipio of municipios()">
        <td>{{ municipio.codigoIbge }}</td>
        <td>
          {{ municipio.anomes.toString().slice(0, 4) }}/{{
            municipio.anomes.toString().slice(4, 6)
          }}
        </td>
        <td>{{ municipio.qtdAcoesEixo01 }}</td>
        <td>{{ municipio.qtdAcoesEixo02 }}</td>
        <td>{{ municipio.qtdAcoesEixo03 }}</td>
        <td>{{ municipio.qtdAcoesEixo04 }}</td>
        <td>{{ municipio.qtdAcoesEixo05 }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="municipios().length === 0">Nenhum resultado encontrado.</p>

  <div class="paginacao" *ngIf="totalPaginas() > 1">
    <button (click)="paginaAnterior()" [disabled]="paginaAtual() === 0">Anterior</button>

    <span> Página {{ paginaAtual() + 1 }} de {{ totalPaginas() }} </span>

    <button (click)="proximaPagina()" [disabled]="paginaAtual() + 1 >= totalPaginas()">
      Próxima
    </button>
  </div>
</div>
